<?xml version="1.0"?>

<launch>

	<!-- publish various messages -->
	<node pkg="slider_publisher" exec="slider_publisher" name="publisher">
		<param name="config" value="$(find-pkg-share with_covariance)/example/sliders.yaml"/>
	</node>

	<!-- run with_covariance with the config file >
	<node pkg="with_covariance" exec="with_covariance" name="with_covariance">
		<param from="$(find-pkg-share with_covariance)/example/with_covariance.yaml"/>
	</node-->



</launch>
